#exercise-Playground > div {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:white;
    z-index:1;
    width:auto;
}

#exercise-Playground * {
    font-size:14pt;
}

#exercise-Playground .input {
    padding-left:3.6em
}
